
@import 'font';
@import 'color';
@import 'utils';
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.ls-10{
    letter-spacing: 10px;
}
.pe-35-porcent{
    padding-right: 35%;
}
.text-shadow{
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.315);
}
.lh-2{
    line-height: 90%;
}
.inicio{
    min-height: 665px;
    background: url(../img/Ativo-2.png) no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    .inicio-header{
        .logo{
            img{
                width: 15em;
                filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.521));
            }      
        }
        .social-media{
            img{
                width: 2.8em;
            }
        }
    } 
}
.desapegue{
    min-height: 635px;
    background: url(../img/Ativo-8.png) no-repeat;
    background-position: -70px 50%;
    .destaque-desapegue::after{
        content: "desapegue";
        position: absolute;
        top: 0;
        right: 35%;
        color: #ffaa9b5e;
        font-size: 1.3em;
    }
}
.nuvem-words{
    min-height: 400px;
    .bg{
        background: url(../img/bg-words.svg) no-repeat;
        background-position: center;

    }
}
.equipe{
    background: url(../img/Ativo-3.svg) no-repeat;
    background-position: 50% 50%;
    background-size: 90% auto;
    .equipe-titulo{
        h2::after{
            content: 'QUEM FAZ A ARARA';
            opacity: .2;
            position: absolute;
            font-size: 1.22em;
            display: block;
            left:0;
            bottom: 3px;
        }
    }
}

.porque{
    min-height: 800px;
    background: url(../img/Ativo-6.png) no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    .porque-desapegar{
        h2:after{
            content: 'POR QUE DESAPEGAR?';
            color: #ec563f;
            position: absolute;
            font-size: 0.95em;
            display: block;
            left:0.2em;
            top: -0.1em;
        }
    }
}
.vem-para-arara{
    min-height: 1000px;
    .passos:nth-child(even):before{
        content: '';
        border-right: 2px dashed rgba(255, 255, 255, 0.466);
        border-radius: 50%;
        width: 50px;
        height: 215%;
        transform: rotateZ(-60deg);
        z-index: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 48%;
    }
    .passos:nth-child(odd):not(.row:last-child):before{
        content: '';
        border-left: 2px dashed rgba(255, 255, 255, 0.466);
        border-radius: 50%;
        width: 50px;
        height: 215%;
        transform: rotateZ(60deg);
        z-index: 0;
        display: block;
        position: absolute;
        top: -5%;
        left: 48%;
    }
    img{
        width: 5em;
        z-index: 3;
    }
    h2:after{
        content: '#VEMPARAARARA';
            opacity: .2;
            position: absolute;
            font-size: 1.1em;
            display: block;
            left:0;
            top:0;
    }
}
.contato{
    min-height: 600px;
    background: url(../img/Ativo-7.png) no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    .contato-h2-1:after{
        content: 'CADASTRE-SE E RECEBA';
         color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      position: absolute;
        font-size: 1.05em;
        opacity: 0.6;
        display: block;
        right:0;
        top: 0;
    }
    .contato-h2-2:after{
        content: 'PARA SEU PRIMEIRO VOO!';
        color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      position: absolute;
        font-size: 1.05em;
        opacity: 0.6;
        display: block;
        right:0;
        top: 0;
    }
    form{
        input{
            outline: 0;
            border: 0;
        }
        input::-webkit-input-placeholder{
            opacity: 0.8;
            font-size: 1.1em;
        }
        button{
            border: 0;
            border-radius: 10px;
            box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.322);
        }
    }
}
.dados{
    min-height: 245px;
    .endereços{
        img{
            width: 2.5em;
        }
    }
    .redes-sociais{
        img{
            width: 5em;
        }
    }
}
.mapa{
    iframe{
        width: 100%;
    }
}
footer{
    min-height: 140px;
    p{
        opacity: 0.7;
    }
    .midias img{
        width: 2.5em;
    }
}
@media (max-width:1200px){
    .destaque-desapegue{
        font-size: 5em;
    }
}
@media (max-width:992px){
    .destaque-desapegue{
        font-size: 4em;
    }
    .desapegue{
    background-size:300px auto;
    }
    .inicio{
        .inicio-header{
            font-size: 0.7rem;
        }
        .inicio-content{
            font-size: 0.75rem;
            h2{
                padding-right: 25%;
            }
        }
    }
    .dados{
        font-size: 0.8rem;
    }
}
@media (max-width:767px){
    .desapegue{
        background-size:200px auto;
        background-position: -70px 20px;
        }
    .destaque-desapegue{
        font-size: 3em;
    }
    .destaque-desapegue::after{
        right: -100px;
    }
    .me-100,.ms-100{
        margin: 0!important;
    }
    .vem-para-arara{
        .passos:nth-child(even):before{
            border-left: 2px dashed rgba(255, 255, 255, 0.466);
            border-right: 0;
            height: 150%;
            transform: rotateZ(-50deg);
            top: 2%;
        }
        .passos:nth-child(odd):not(.row:last-child):before{
            border-left: 2px dashed rgba(255, 255, 255, 0.466);
            height: 180%;
            transform: rotateZ(50deg);
            top: 5%;
        }
    }
}
@media (max-width:576px){
    .inicio{
        .inicio-header{
            font-size: 0.6rem;
        }
    }
    .destaque-desapegue{
        display: none;
    }
    .desapegue{
        .destaque-content h2{
            font-size: 2em;
        }
        background-size:180px auto;
    }
    .equipe{
        .equipe-titulo h2{
            font-size: 32px;
        }
    }
    .porque{
        .porque-desapegar{
            font-size: 0.75rem;
        }
    }
    .vem-para-arara{
        
            font-size: 0.7rem;
    }
    .contato{
        form{
            button{
                font-size: 1.2em;
            }
        }
    }
}
@media (max-width:425px){
    .vem-para-arara{
        .passos:nth-child(even):before{
            border-left: 2px dashed rgba(255, 255, 255, 0.466);
            border-right: 0;
            height: 180%;
            transform: rotateZ(-60deg);
            top: 2%;
            left: 45%;
        }
        .passos:nth-child(odd):not(.row:last-child):before{
            border-left: 2px dashed rgba(255, 255, 255, 0.466);
            height: 180%;
            transform: rotateZ(60deg);
            top: 5%;
            left: 45%;
        }
    }
}
@media (max-width:375px){
    .vem-para-arara{
        .passos:nth-child(even):before{
            border-left: 2px dashed rgba(255, 255, 255, 0.466);
            border-right: 0;
            height: 150%;
            transform: rotateZ(-50deg);
            top: 2%;
            left: 43%;
        }
        .passos:nth-child(odd):not(.row:last-child):before{
            border-left: 2px dashed rgba(255, 255, 255, 0.466);
            height: 160%;
            transform: rotateZ(60deg);
            top: 9%;
            left: 43%;
        }
    }
}
@media (max-width:320px){
    .vem-para-arara{
        .passos:nth-child(even):before{
            border-left: 2px dashed rgba(255, 255, 255, 0.466);
            border-right: 0;
            height: 150%;
            transform: rotateZ(-45deg);
            top: 2%;
            left: 43%;
        }
        .passos:nth-child(odd):not(.row:last-child):before{
            border-left: 2px dashed rgba(255, 255, 255, 0.466);
            height: 155%;
            transform: rotateZ(50deg);
            top: 12%;
            left: 43%;
        }
    }
}
